body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(155,255,200);

}

.found{
  color: blue;
  text-decoration: line-through;
}
.unfound{
  color: black;
}
.used{
  color: grey;
}

#answerWorkspace{
  text-align: center;
  font-size: 1.25rem;
  line-height: 2;
  margin-top: 1rem;
}
#answerText{
  font-style: italic;
}
#glossContainer{
  background-color: rgb(200,255,225);
  border-radius: 0.3rem;
  padding: 0.5rem;

}
.gloss{
  font-weight: bold;
  transition: opacity 1s;
  margin: 0.5rem 1% 0 0;
  width: 19.2%;

}

.title{
  text-align: center;
  font-size: 1.5rem;
  line-height:2;
  margin-top:1rem;
}
